<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="icon" href="/assets/img/icon.png">
    <title>FAQ</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="/assets/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/assets/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/assets/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/assets/css/style.css" rel="stylesheet">

    <!--Bootstrap linking-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
    <!-- -------------------------- Header start ---------------------------->
    <header>
        <!------------------------- container start ---------------------------->
        <div class="container">
            <div class="header_contact">
                <div class="c-info">
                    <i class="fa fa-envelope"></i>
                    <a href="mailto:admin@cityuniversity.edu.bd">admin@cityuniversity.edu.bd</a>
                </div>
                <div class="c_box">
                    <i class="fas fa-phone-alt"></i>
                    <a href="tel:+8801819813111" class="c_text">+880-1819813111</a>
                </div>
            </div>
        </div>
        <!-- container end -->
    </header>
    <!-- -------------------------- Header end -------------------------- -->

    <!---------------------------------------------- Navbar Start --------------------------------------------->
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light sticky-top p-0 mt-2 mb-2">
            <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse"
                data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto p-3 p-lg-0">
                    <a href="https://www.cityuniversity.edu.bd/" class="city-logo"><img src="/assets/img/city-logo.png"
                            alt="CU Logo" width="90px" height="auto"></a>
                    <a href="/public/index.html" class="nav-item nav-link">Home</a>
                    <a href="/view/pages/hallfacilities.html" class="nav-item nav-link">Hall Facilities</a>
                    <a href="/view/pages/in-roomFacilities.html" class="nav-item nav-link">In-Room Facilities</a>
                    <a href="/view/pages/admission.html" class="nav-item nav-link">Admission</a>
                    <a href="/view/pages/faq.html" class="nav-item nav-link active">FAQ</a>
                    <a href="/view/pages/notice.html" class="nav-item nav-link">Notice</a>
                    <a href="/view/pages/Help.html" class="nav-item nav-link">Help Desk</a>
                    <a href="/view/pages/contact.html" class="nav-item nav-link">Contact</a>
                </div>
                <div class="combined-button">
                    <a href="/view/auth/signup.html" class="signup-btn" target="_blank"
                        title="Sign Up to Book Your Seat" aria-label="Sign Up to Book Your Seat">Sign Up</a>
                    <a href="/view/auth/login.html" class="login-btn" target="_blank"
                        title="Login to access your portal" aria-label="Login to access your portal">Login</a>
                </div>
            </div>
        </nav>
    </div>
    <!-- Navbar End -->

    <!-- -------------------------- Page banner start -------------------------- -->
    <section id="page_banner">
        <div class="p_banner_main">
            <h1 class="section_heading banner_heading">FAQ</h1>
            <div class="p_banner_overlay"></div>
        </div>
    </section>
    <!-- -------------------------- Page banner end -------------------------- -->

    <!-- -------------------------- Breadcrumb start -------------------------- -->
    <section id="page_breadcrumb">
        <div class="container">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">FAQ</li>
                </ol>
            </nav>
        </div>
    </section>
    <!-- -------------------------- Breadcrumb end -------------------------- -->

    <!-- -------------------------- FAQ start -------------------------- -->
    <section id="faq_page">
        <div class="faq_main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="faq_categories">
                            <h2 class="section_heading banner_heading">FAQ</h2>
                            <button class="tablink active" onclick="openFacility(event, 'hall-facility')">Hall
                                Facility</button>
                            <button class="tablink " onclick="openFacility(event, 'in-room-facility')">In-room
                                Facility</button>
                            <button class="tablink " onclick="openFacility(event, 'medical-facility')">Medical
                                Facility</button>
                            <button class="tablink " onclick="openFacility(event, 'power-supply')">Power Supply</button>
                            <button class="tablink " onclick="openFacility(event, 'wi-fi-internate')">Wi-Fi &amp;
                                Internet</button>
                            <button class="tablink " onclick="openFacility(event, 'admission')">Admission</button>
                        </div>
                    </div>

                    <div class="col-lg-8 col-md-8 col-sm-12">
                        <div class="faq_question">
                            <div id="hall-facility" class="facility_name tablink" style="display: block;">
                                <h2 class="section_heading faq_heading">Hall Facility</h2>
                                <div class="faq_box">
                                    <h3 class="section_sub_heading faq_sub_heading">Is the hall facility available on
                                        campus?</h3>
                                    <p class="p_text">
                                    <p>Yes, we have hall facility available on campus.</p>
                                    </p>
                                </div>
                                <div class="faq_box">
                                    <h3 class="section_sub_heading faq_sub_heading">Is the AC room available in the
                                        hall?</h3>
                                    <p class="p_text">
                                    <p>No, we are not offering any AC room for the students yet.</p>
                                    </p>
                                </div>
                                <div class="faq_box">
                                    <h3 class="section_sub_heading faq_sub_heading">Is there any water filter available
                                        in the hall?</h3>
                                    <p class="p_text">
                                    <p>Yes, we have the water filter service available in each floor.</p>
                                    </p>
                                </div>
                                <div class="faq_box">
                                    <h3 class="section_sub_heading faq_sub_heading">Is hot drinking water available?
                                    </h3>
                                    <p class="p_text">
                                    <p>Yes, students have access to hot drinking water in the hall.</p>
                                    </p>
                                </div>
                                <div class="faq_box">
                                    <h3 class="section_sub_heading faq_sub_heading">Can students stay in the hall for 15
                                        days for trial?</h3>
                                    <p class="p_text">
                                    <p>No, we are not offering any trial period in the hall.</p>
                                    </p>
                                </div>
                                <div class="faq_box">
                                    <h3 class="section_sub_heading faq_sub_heading">Can students keep their luggage in
                                        the hall during vacation time?</h3>
                                    <p class="p_text">
                                    <p>Yes, students can keep their luggage in the hall during their vacation time.</p>
                                    </p>
                                </div>
                                <div class="faq_box">
                                    <h3 class="section_sub_heading faq_sub_heading">How close are accommodation options
                                        to campus?</h3>
                                    <p class="p_text">
                                    <p>All halls are on the campus premises, except FR-Hall.</p>
                                    </p>
                                </div>
                                <div class="faq_box">
                                    <h3 class="section_sub_heading faq_sub_heading">Can I take a tour of accommodation
                                        options?</h3>
                                    <p class="p_text">
                                    <p>Yes.</p>
                                    </p>
                                </div>
                                <div class="faq_box">
                                    <h3 class="section_sub_heading faq_sub_heading">Is there any accommodation for
                                        couples?</h3>
                                    <p class="p_text">
                                    <p>No.</p>
                                    </p>
                                </div>
                                <div class="faq_box">
                                    <h3 class="section_sub_heading faq_sub_heading">Can I bring a car/bike?</h3>
                                    <p class="p_text">
                                    <p>Yes.</p>
                                    </p>
                                </div>
                            </div>
                            <div id="in-room-facility" class="facility_name tablink" style="display: none;">
                                <h2 class="section_heading faq_heading">In-room Facility</h2>
                                <div class="faq_box">
                                    <h3 class="section_sub_heading faq_sub_heading">What is the room capacity?</h3>
                                    <p class="p_text">
                                    <p>Six students on Boys room and four students will be living in each room.</p>
                                    </p>
                                </div>
                                <div class="faq_box">
                                    <h3 class="section_sub_heading faq_sub_heading">Are the necessary furniture&#039;s
                                        available in the room?</h3>
                                    <p class="p_text">
                                    <p>Yes, necessary furniture's are provided for each student in the room.</p>
                                    </p>
                                </div>
                                <div class="faq_box">
                                    <h3 class="section_sub_heading faq_sub_heading">What is the room size?</h3>
                                    <p class="p_text">
                                    <p>Each room is 300 Square Feet in size.</p>
                                    </p>
                                </div>
                                <div class="faq_box">
                                    <h3 class="section_sub_heading faq_sub_heading">In case any valuable items are lost
                                        from the room, will the authority pay for that?</h3>
                                    <p class="p_text">
                                    <p>No.</p>
                                    </p>
                                </div>
                                <div class="faq_box">
                                    <h3 class="section_sub_heading faq_sub_heading">Is the laundry facility available?
                                    </h3>
                                    <p class="p_text">
                                    <p>Yes, the laundry facility is available with other in-room services.</p>
                                    </p>
                                </div>
                                <div class="faq_box">
                                    <h3 class="section_sub_heading faq_sub_heading">300 square feet spacious room.</h3>
                                    <p class="p_text">
                                    <p>&nbsp;300 square feet spacious room.&nbsp;</p>
                                    </p>
                                </div>
                            </div>
                            <div id="medical-facility" class="facility_name tablink" style="display: none;">
                                <h2 class="section_heading faq_heading">Medical Facility</h2>
                                <div class="faq_box">
                                    <h3 class="section_sub_heading faq_sub_heading">Is the medical facility available on
                                        the campus?</h3>
                                    <p class="p_text">
                                    <p>Yes, we have medical facilities available on campus.</p>
                                    </p>
                                </div>
                            </div>
                            <div id="power-supply" class="facility_name tablink" style="display: none;">
                                <h2 class="section_heading faq_heading">Power Supply</h2>
                                <div class="faq_box">
                                    <h3 class="section_sub_heading faq_sub_heading">Is there electricity available in
                                        the hall?</h3>
                                    <p class="p_text">
                                    <p>Yes.</p>
                                    </p>
                                </div>
                                <div class="faq_box">
                                    <h3 class="section_sub_heading faq_sub_heading">Is there any generator at the hall
                                        in case of load shedding?</h3>
                                    <p class="p_text">
                                    <p>Yes.</p>
                                    </p>
                                </div>
                            </div>
                            <div id="wi-fi-internate" class="facility_name tablink" style="display: none;">
                                <h2 class="section_heading faq_heading">Wi-Fi &amp; Internet</h2>
                                <div class="faq_box">
                                    <h3 class="section_sub_heading faq_sub_heading">Is the Wi-Fi facility available in
                                        the hall?</h3>
                                    <p class="p_text">
                                    <p>Yes, 24/7 high-speed Wi-Fi facility is available in the hall.</p>
                                    </p>
                                </div>
                            </div>
                            <div id="admission" class="facility_name tablink" style="display: none;">
                                <h2 class="section_heading faq_heading">Admission</h2>
                                <div class="faq_box">
                                    <h3 class="section_sub_heading faq_sub_heading">Can students book a seat from home?
                                    </h3>
                                    <p class="p_text">
                                    <p>Yes, students can book a room from home online and physically going to Hall with
                                        their parents or local guardian to book a seat.</p>
                                    </p>
                                </div>
                                <div class="faq_box">
                                    <h3 class="section_sub_heading faq_sub_heading">Can the students select the room and
                                        Hall?</h3>
                                    <p class="p_text">
                                    <p>No.</p>
                                    </p>
                                </div>
                                <div class="faq_box">
                                    <h3 class="section_sub_heading faq_sub_heading">Who is eligible to apply for student
                                        accommodation?</h3>
                                    <p class="p_text">
                                    <p>Students parents or local guardian.</p>
                                    </p>
                                </div>
                                <div class="faq_box">
                                    <h3 class="section_sub_heading faq_sub_heading">When can I apply for accommodation?
                                    </h3>
                                    <p class="p_text">
                                    <p>After university admission.</p>
                                    </p>
                                </div>
                                <div class="faq_box">
                                    <h3 class="section_sub_heading faq_sub_heading">Can I apply for accommodation before
                                        I know I am accepted to the University?</h3>
                                    <p class="p_text">
                                    <p>No.</p>
                                    </p>
                                </div>
                                <div class="faq_box">
                                    <h3 class="section_sub_heading faq_sub_heading">Will I get a refund if I cancel my
                                        contract?</h3>
                                    <p class="p_text">
                                    <p>No.</p>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- -------------------------- FAQ end -------------------------- -->
    <!----------------------------------------------------------- Footer Start ------------------------------------------------------------------>

    <div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer_location">
                            <h5 class="footer_heading">Location</h5>
                            <div class="footer_map">
                                <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3648.4657008881873!2d90.3097415!3d23.873099500000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c2102dc1cd51%3A0x6f95e92193fc8978!2sCity%20University%20Bangladesh!5e0!3m2!1sen!2sbd!4v1726667971052!5m2!1sen!2sbd"
                                    width="220" height="173" style="border:0;" allowfullscreen=""></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h4 class="text-white mb-3">Quick Link</h4>
                        <a class="btn btn-link" href="">About Us</a>
                        <a class="btn btn-link" href="">Contact Us</a>
                        <a class="btn btn-link" href="">Privacy Policy</a>
                        <a class="btn btn-link" href="">Terms & Condition</a>
                        <a class="btn btn-link" href="">FAQs & Help</a>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h4 class="text-white mb-3">Contact</h4>
                        <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Birulia, Savar, Dhaka</p>
                        <p class="mb-2"><i class="fa fa-phone-alt me-3"></i><a
                                href="tel:+8801874264850">+8801874264850</a></p>
                        <p class="mb-2"><i class="fa fa-envelope me-3"></i><a
                                href="mailto:hall.cityuniversity@gmail.com">hall.cityuniversity@gmail.com</a></p>
                        <div class="d-flex pt-2">
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="container">
                <div class="copyright">
                    <div class="row">
                        <div class="col-md-6 mb-3 mb-md-0">
                            <p class="p_text">All rights reserved by City University. Copyright &copy; 2024.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!------------------------------------------------------ Footer End ------------------------------------------------------------->


        <!---------------------------------- JavaScript Libraries -------------------------------------------------->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
        <script src="/assets/lib/wow/wow.min.js"></script>
        <script src="/assets/lib/easing/easing.min.js"></script>
        <script src="/assets/lib/waypoints/waypoints.min.js"></script>
        <script src="/assets/lib/owlcarousel/owl.carousel.min.js"></script>

        <!------------------- Javascript -------------------------->
        <script src="/assets/js/main.js"></script>
        <script src="/assets/js/form-validation.js"></script>

</body>

</html>